# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
build/

# Generated backend files
backend/uploads/*
backend/processed/*
backend/reports/*

# Keep the folders in Git
!backend/uploads/.gitkeep
!backend/processed/.gitkeep
!backend/reports/.gitkeep

# Database
*.db
*.sqlite
*.sqlite3

# OS / editor
.DS_Store
Thumbs.db
.vscode/